name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            asset_name: webPlay-linux
            binary_path: ./target/release/webPlay
          - os: windows-latest
            asset_name: webPlay-windows.exe
            binary_path: ./target/release/webPlay.exe
          - os: macos-latest
            asset_name: webPlay-macos
            binary_path: ./target/release/webPlay

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build release
        run: cargo build --release

      - name: Create Release
        if: matrix.os == 'ubuntu-latest'
        run: gh release create ${{ github.ref_name }} --title "Release ${{ github.ref_name }}" --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Release Asset
        run: gh release upload ${{ github.ref_name }} ${{ matrix.binary_path }}#${{ matrix.asset_name }} --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}